<div class="c-cinema">

  <div class="content-container">

    <i>Kino</i>

    <h2>{{cinema.name }}</h2>

    <p>{{ cinema.text }}</p>

    <h3>Aufführung(en):</h3>
    <ul>
      <li *ngFor="let projection of projections">
        {{ projection.date | date }}: <strong>{{ projection.name }} </strong> <a target="_blank" href="https://www.themoviedb.org/movie/{{projection.tmdb}}">[tmdb]</a>
      </li>
    </ul>

    <h3>Kinosäle</h3>
    <ul>
      <li *ngFor="let auditorium of cinema.auditoriums">
        <strong>{{ auditorium.name }}:</strong> Plätze: {{ auditorium.seats }} | Leinwand: {{ auditorium.screen }} |
        Projektoren {{ auditorium.projectors }} | Sound: {{ auditorium.sound }} | Attribute: {{ auditorium.attributes }}
      </li>
    </ul>

    <h3>Adresse:</h3>
    <p>
      {{ cinema.name }}<br>
      {{ cinema.street }}<br>
      {{ cinema.postcode }} {{ cinema.city }}
    </p>

    <h3>Weiterführende Links:</h3>
    <p>Homepage: <a href="{{ cinema.linkHomepage }}">{{ cinema.linkHomepage }}</a></p>
    <p>Programm: <a href="{{ cinema.linkProgram }}">{{ cinema.linkProgram }}</a></p>
    <p>Öffnungszeiten: <a href="{{ cinema.linkOpeningHours }}">{{ cinema.linkOpeningHours }}</a></p>
    <p>Email: <a href="mailto://{{ cinema.mail }}">{{ cinema.mail }}</a></p>
    <p>Telefon: <a href="tel://{{ cinema.phone }}">{{ cinema.phone }}</a></p>

    <h3>Erfahrungsberichte</h3>
    <div *ngFor="let report of cinema.reports">
      <a [routerLink]="['/', 'report', report.id]"><h4>[{{ report.date | date }}] {{ report.name }}</h4></a>
      <p>{{ report.text }}</p>
    </div>
  </div>

  <div id="ol-map" class="map-container"></div>

</div>
