.c-cinema {
  display: flex;
  flex-grow: 1;
}

.left-bar {
  width: 20em;
  padding: 1em;
  background-color: var(--sidebar-color);
  height: 100%;
}

.map-container {
  flex-grow: 1;
  max-height: 900px;
}
