<div class="c-event-list">
  <div class="content-container" *ngrxLet="screeningEvents$ as events">
    <i>Übersicht</i>
    <h2>Events</h2>

    <full-calendar [options]="calendarOptions"></full-calendar>

    <ng-container *ngFor="let screeningEvent of events">
      <div class="event">
        <p class="prefix-date">
          {{ screeningEvent.start | date }} - {{ screeningEvent.end | date }}
        </p>
        <a [routerLink]="['/', 'event', screeningEvent.id]">
          <h3>{{ screeningEvent.type }} | {{ screeningEvent.title }}</h3>
        </a>
        <app-projection-list
          [projections]="screeningEvent.projections || []"
          [showTitle]="false"
        ></app-projection-list>
        <p>{{ screeningEvent.text }}</p>
        <p>
          <a href="{{ screeningEvent.linkHomepage }}">{{
            screeningEvent.linkHomepage
          }}</a>
        </p>
      </div>
    </ng-container>
  </div>
  <div id="ol-map-event-overview" class="map-container">
    <div id="popup"></div>
  </div>
</div>
