<app-two-column-layout class="c-event-details">
  <div column-one *ngrxLet="event$ as event">
    <div class="content-container" *ngIf="event">
      <i>Event</i>

      <h2>{{ event.title }} | {{ event.type }}</h2>
      <p>{{ event.start | date }} - {{ event.end | date }}</p>
      <p>{{ event.text }}</p>
      <p>
        Homepage:
        <a href="{{ event.linkHomepage }}">{{ event.linkHomepage }}</a>
      </p>
      <p>
        Programm: <a href="{{ event.linkProgram }}">{{ event.linkProgram }}</a>
      </p>

      <h3>Kontakt:</h3>
      <p>
        {{ event.street }}<br />
        {{ event.postcode }} {{ event.city }}
      </p>

      <p>
        <strong>Email: </strong
        ><a href="mailto://{{ event.mail }}">{{ event.mail }}</a>
      </p>
      <p>
        <strong>Telefon: </strong
        ><a href="tel://{{ event.phone }}">{{ event.phone }}</a>
      </p>

      <app-projection-list
        [projections]="event.projections || []"
      ></app-projection-list>

      <app-movie-list
        *ngrxLet="movies$ as movies; error as error"
        [movies]="movies?.results"
      ></app-movie-list>

      <app-cinema-list
        *ngrxLet="cinemas$ as cinemas"
        [cinemas]="cinemas"
      ></app-cinema-list>
      <app-report-list [reports]="event.reports || []"></app-report-list>
    </div>
  </div>

  <app-cinema-map
    column-two
    *ngrxLet="cinemas$ as cinemas"
    [cinemas]="cinemas"
  ></app-cinema-map>
</app-two-column-layout>
