<form [formGroup]="form" (ngSubmit)="submitForm()">
  <fieldset>
    <legend>Festival</legend>
    <label for="eventtitle">Titel</label>
    <input formControlName="title" type="text" id="eventtitle" />
    <label for="txt">Beschreibung</label>
    <textarea formControlName="text" rows="5" type="text" id="txt"></textarea>

    <label for="type">Typ</label>
    <select
      name="eventtype"
      id="type"
      formControlName="type"
      (change)="updateType()"
    >
      <option *ngFor="let option of typeOptions">
        {{ option.name }}
      </option>
    </select>
  </fieldset>

  <fieldset>
    <legend>Zeitraum</legend>
    <label for="start">Start</label>
    <input formControlName="start" type="date" useValueAsLocalIso id="start" />

    <label for="end">Ende</label>
    <input formControlName="end" type="date" useValueAsLocalIso id="end" />
  </fieldset>

  <fieldset>
    <label for="street">Strasse Hausnummer</label>
    <input formControlName="street" type="text" id="street" />

    <legend>Adresse</legend>
    <label for="plz">PLZ</label>
    <input formControlName="postcode" type="text" id="plz" />

    <label for="city">Stadt</label>
    <input formControlName="city" type="text" id="city" />
  </fieldset>

  <fieldset>
    <legend>Kontakt</legend>
    <label for="mail">Mail</label>
    <input formControlName="mail" type="text" id="mail" />

    <label for="phone">Telefon</label>
    <input formControlName="phone" type="text" id="phone" />

    <label for="homepage">Homepage</label>
    <input formControlName="linkHomepage" type="url" id="homepage" />

    <label for="program">Program</label>
    <input formControlName="linkProgram" type="url" id="program" />
  </fieldset>

  <button [disabled]="form.invalid" type="submit">Speichern</button>
  <button *ngIf="editMode" type="button" (click)="delete()">Löschen</button>
</form>
