$color-tooltip-bg: rgba(0, 0, 0, 0.777);
$pointer-size: 15px;

.tooltip {
  position: fixed;
  background-color: $color-tooltip-bg;
  border-radius: 4px;
  color: #ffffff;
  padding: 16px 16px;
  font-size: 1.2em;
  margin-top: 5px;
  transform: translateX(-50%);

  &::before {
    content: "";
    width: 0;
    height: 0;
    border-left: $pointer-size solid transparent;
    border-right: $pointer-size solid transparent;
    border-bottom: $pointer-size solid $color-tooltip-bg;
    position: absolute;
    left: calc(50% - $pointer-size);
    top: -$pointer-size;
  }
}
