<form [formGroup]="auditoriumForm" (ngSubmit)="submitForm()">
  <fieldset>
    <legend>Main</legend>
    <label for="title">Titel</label>
    <input formControlName="title" type="text" id="eventtitle" />

    <label for="txt">Beschreibung</label>
    <textarea formControlName="text" rows="5" type="text" id="txt"></textarea>
  </fieldset>

  <fieldset>
    <legend>Saal</legend>
    <label for="screen">Screen</label>
    <input formControlName="screen" type="string" id="screen" />

    <label for="seats">Sitze</label>
    <input formControlName="seats" type="number" id="seats" />

    <label for="seats">Besonderheiten</label>
    <select formControlName="attributes" id="attributes" multiple>
      <option *ngFor="let attr of attributeOptions" [value]="attr.id">
        {{ attr.name }}
      </option>
    </select>
  </fieldset>

  <fieldset>
    <legend>Technik</legend>
    <label for="projectors">Projektoren</label>
    <select formControlName="projectors" id="projectors" multiple>
      <option *ngFor="let proj of projectorOptions" [value]="proj.id">
        {{ proj.name }}
      </option>
    </select>
    <label for="sound">Tontechnik</label>
    <select formControlName="sound" id="sound" multiple>
      <option *ngFor="let sound of soundOptions" [value]="sound.id">
        {{ sound.name }}
      </option>
    </select>
  </fieldset>

  <button [disabled]="auditoriumForm.invalid" type="submit">Speichern</button>
</form>
