<i>Übersicht</i>
<h2>Projektionen</h2>

<div
  *ngFor="let projection of allProjections$ | ngrxPush"
  class="c-projection-overview__projection"
>
  <div class="movie">
    <div>
      <p>
        <a [routerLink]="['/', 'projection', projection.id]">
          {{ projection.title }}</a
        >
      </p>
      <p>{{ projection.text }}</p>
    </div>
    <div>
      <p>
        <br />
        {{ projection.date | date }}<br /><strong>TMDB: </strong
        >{{ projection.tmdb }}<br /><strong>Geschwärzt: </strong
        >{{ projection.black }}<br /><strong>Agent: </strong
        >{{ projection.agent }}
      </p>
      <app-overview-list-actions
        path="projection"
        [id]="projection.id"
        (deleteEvent)="delete(projection.id)"
      ></app-overview-list-actions>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
