<div class="c-event-list">

  <div class="content-container">

    <h2>Events</h2>

    <div
      *ngFor="let screeningEvent of screeningEvents"
      class="event"
    >
      <p class="date">{{ screeningEvent.date | date }} - {{ screeningEvent.dateEnd | date }}</p>
      <a class="" href="/event/{{ screeningEvent.id }}"><h3>{{ screeningEvent.type }} | {{ screeningEvent.name }}</h3></a>
      <p>{{ screeningEvent.text }}</p>

      <ul>
        <li *ngFor="let projection of screeningEvent.projections">
          {{ projection.date | date }}: <strong>{{ projection.name }}</strong>
        </li>
      </ul>
    </div>

  </div>

  <div id="ol-map" class="map-container"></div>

</div>
