<i>Übersicht</i>
<h2>Kinos</h2>

<app-loading
  *ngIf="loading$ | ngrxPush"
  title="Kinos werden geladen..."
></app-loading>

<div
  *ngFor="let cinema of cinemas$ | ngrxPush"
  class="c-cinema-overview__cinema"
>
  <a [routerLink]="['/', 'cinema', cinema.id]"
    ><h3>{{ cinema.title }}</h3></a
  >
  <p>{{ cinema.street }}</p>
  <p>{{ cinema.postcode }} {{ cinema.city }}</p>

  <app-overview-list-actions
    path="cinema"
    [id]="cinema.id"
    (deleteEvent)="delete(cinema.id)"
  ></app-overview-list-actions>
</div>
