<form [formGroup]="form" (ngSubmit)="submitForm()">
  <fieldset>
    <legend>Main</legend>
    <label for="title">Titel</label>
    <input formControlName="title" type="text" id="eventtitle" />

    <label for="txt">Beschreibung</label>
    <textarea formControlName="text" rows="5" type="text" id="txt"></textarea>
  </fieldset>

  <fieldset>
    <legend>Adresse</legend>
    <label for="street">Strasse Hausnummer</label>
    <input formControlName="street" type="text" id="street" />
    <label for="plz">PLZ</label>
    <input formControlName="postcode" type="text" id="plz" />
    <label for="city">Stadt</label>
    <input formControlName="city" type="text" id="city" />

    <label for="latitude">Latitude</label>
    <input formControlName="latitude" type="number" id="latitude" readonly />
    <label for="longitude">longitude</label>
    <input formControlName="longitude" type="number" id="longitude" readonly />
  </fieldset>

  <fieldset>
    <legend>Kontakt</legend>
    <label for="mail">Mail</label>
    <input formControlName="mail" type="text" id="mail" />

    <label for="phone">Telefon</label>
    <input formControlName="phone" type="text" id="phone" />

    <label for="homepage">Homepage</label>
    <input formControlName="linkHomepage" type="url" id="homepage" />

    <label for="program">Program</label>
    <input formControlName="linkProgram" type="url" id="program" />

    <label for="openingHours">Öffnungszeiten</label>
    <input formControlName="linkOpeningHours" type="url" id="openingHours" />
  </fieldset>

  <button [disabled]="form.invalid" type="submit">Speichern</button>
  <button *ngIf="editMode" type="button" (click)="delete()">Löschen</button>
</form>
