.fc-theme-standard td,
.fc-theme-standard th {
  border: 2px solid black !important;
}

.fc-h-event {
  background-color: black !important;
  border: 1px solid black !important;
  cursor: pointer;

  :hover {
    background-color: var(--link-color-hover) !important;
    border-color: var(--link-color-hover) !important;
  }
}

.fc-daygrid-event {
  border-radius: 0 !important;
}
