<app-two-column-layout class="c-event-details">
  <div column-one>
    <i>Event</i>

    <div *ngIf="event$ | async as screeningEvent">
      <h2>{{ screeningEvent.title }} | {{ screeningEvent.type }}</h2>
      <p>{{ screeningEvent.start | date }} - {{ screeningEvent.end | date }}</p>
      <p>{{ screeningEvent.text }}</p>
      <p>
        Homepage:
        <a href="{{ screeningEvent.linkHomepage }}">{{
          screeningEvent.linkHomepage
        }}</a>
      </p>
      <p>
        Programm:
        <a href="{{ screeningEvent.linkProgram }}">{{
          screeningEvent.linkProgram
        }}</a>
      </p>

      <h3>Kontakt:</h3>
      <p>
        {{ screeningEvent.street }}<br />
        {{ screeningEvent.postcode }} {{ screeningEvent.city }}
      </p>

      <p>
        <strong>Email: </strong
        ><a href="mailto://{{ screeningEvent.mail }}">{{
          screeningEvent.mail
        }}</a>
      </p>
      <p>
        <strong>Telefon: </strong
        ><a href="tel://{{ screeningEvent.phone }}">{{
          screeningEvent.phone
        }}</a>
      </p>

      <app-projection-list
        [projections]="screeningEvent.projections || []"
      ></app-projection-list>

      <app-report-list
        [reports]="screeningEvent.reports || []"
      ></app-report-list>
    </div>
    <app-movie-list [movies]="movies$ | async"></app-movie-list>

    <app-cinema-list [cinemas]="cinemas$ | async"></app-cinema-list>
  </div>

  <app-cinema-map column-two [cinemas]="cinemas$ | async"></app-cinema-map>
</app-two-column-layout>
