<header>
  <a class="brand" [routerLink]="['/']"><h1>analogkino.net</h1></a>
  <nav>
    <ul>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['event']">Events</a> |
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['cinema']">Kinos</a> |
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['report']">Erfahrungsberichte</a> |
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['contact']">Kontakt</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <!-- <p>Autoren: Tilman Schumacher / Jonas Wunderlich</p> -->
  <nav>
    <a href="/impressum">Impressum</a> |
    <a href="/privacy">Datenschutz</a> |
    <a href="mailto:jonas@systemkultur.de">Mail Us</a>
  </nav>

</footer>
