:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

header {
  background-color: var(--header-color);
  padding: 2em 2em;

  .brand {
    color: var(--color-black);
    text-decoration: none;

    h1 {
      margin: 0.2em 0;
    }
  }
}

main {
  flex-grow: 1;
  overflow: scroll;
}

footer {
  background-color: var(--footer-color);
  color: var(--color-white);
  padding: 1em 2em;
}
