<header>
  <h1>Analogkino</h1>
  <nav>
    <a href="/event">Events</a> |
    <a href="/cinema">Kinos</a> |
    <a href="/report">Erfahrungsberichte</a> |
    <a href="/contact">Kontakt</a>
  </nav>
</header>

<main>
  <!-- <div class="left-bar"></div> -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <nav>
    <a href="/impressum">Impressum</a> |
    <a href="/privacy">Datenschutz</a>
  </nav>
  <p>Autoren: Tilman Schumacher / Jonas Wunderlich</p>
  <p><a href="mailto:jonas@systemkultur.de">jonas@systemkultur.de</a></p>
</footer>
