:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

header {
  background-color: var(--header-color);
  padding: 2em 1em;

  h1 {
    margin: .2em 0;
  }

  nav {
    li {
      display: inline;
    }
    a {
      font-size: 24px;
      font-weight: 600;
      text-decoration: none;
    }

    .active a {
      color: black;
    }
  }
}

main {
  flex-grow: 1;
  overflow: scroll;
}

footer {
  background-color: var(--footer-color);
  color: white;
  padding: 2em 1em;
}
