<form [formGroup]="form" (ngSubmit)="submitForm()">
  <fieldset>
    <legend>Festival</legend>
    <label for="eventtitle">Titel</label>
    <input
      formControlName="title"
      required
      type="text"
      name="title"
      id="eventtitle"
    />
    <label for="txt">Beschreibung</label>
    <textarea
      formControlName="text"
      rows="5"
      type="text"
      name="text"
      id="txt"
    ></textarea>

    <label for="type">Typ</label>
    <select name="eventtype" id="type" required formControlName="type">
      <option *ngFor="let option of typeOptions">
        {{ option.name }}
      </option>
    </select>
  </fieldset>

  <fieldset>
    <legend>Zeitraum</legend>
    <label for="start">Start</label>
    <input
      formControlName="start"
      required
      type="date"
      name="start"
      id="start"
    />

    <label for="end">Ende</label>
    <input formControlName="end" type="date" name="end" id="end" />
  </fieldset>

  <fieldset>
    <label for="street">Strasse Hausnummer</label>
    <input formControlName="street" type="text" name="street" id="street" />

    <legend>Adresse</legend>
    <label for="plz">PLZ</label>
    <input formControlName="postcode" type="text" name="plz" id="plz" />

    <label for="city">Stadt</label>
    <input formControlName="city" type="text" name="city" id="city" />
  </fieldset>

  <fieldset>
    <legend>Kontakt</legend>
    <label for="mail">Mail</label>
    <input formControlName="mail" type="text" name="mail" id="mail" />

    <label for="phone">Telefon</label>
    <input formControlName="phone" type="text" name="phone" id="phone" />

    <label for="homepage">Homepage</label>
    <input
      formControlName="linkHomepage"
      type="url"
      name="homepage"
      id="homepage"
    />

    <label for="program">Program</label>
    <input
      formControlName="linkProgram"
      type="url"
      name="program"
      id="program"
    />
  </fieldset>

  <button [disabled]="form.invalid" type="submit">Speichern</button>
</form>
