<form (ngSubmit)="submitForm()" #eventForm="ngForm">
  <fieldset>
    <legend>Festival</legend>
    <label for="eventtitle">Titel</label>
    <input
      [(ngModel)]="eventData.title"
      required
      type="text"
      name="title"
      id="eventtitle"
    />
    <label for="txt">Beschreibung</label>
    <textarea
      [(ngModel)]="eventData.text"
      rows="5"
      type="text"
      name="text"
      id="txt"
    ></textarea>

    <label for="type">Typ</label>
    <select name="eventtype" id="type" required [(ngModel)]="eventData.type">
      <option *ngFor="let option of typeOptions">
        {{ option.name }}
      </option>
    </select>
  </fieldset>

  <fieldset>
    <legend>Zeitraum</legend>
    <label for="start">Start</label>
    <input
      [(ngModel)]="eventData.start"
      required
      type="date"
      name="start"
      id="start"
    />

    <label for="end">Ende</label>
    <input [(ngModel)]="eventData.end" type="date" name="end" id="end" />
  </fieldset>

  <fieldset>
    <label for="street">Strasse</label>
    <input
      [(ngModel)]="eventData.street"
      type="text"
      name="street"
      id="street"
    />

    <legend>Adresse</legend>
    <label for="plz">PLZ</label>
    <input [(ngModel)]="eventData.postcode" type="number" name="plz" id="plz" />

    <label for="city">Stadt</label>
    <input [(ngModel)]="eventData.city" type="text" name="city" id="city" />
  </fieldset>

  <fieldset>
    <legend>Kontakt</legend>
    <label for="mail">Mail</label>
    <input [(ngModel)]="eventData.mail" type="text" name="mail" id="mail" />

    <label for="phone">Telefon</label>
    <input [(ngModel)]="eventData.phone" type="text" name="phone" id="phone" />

    <label for="homepage">Homepage</label>
    <input
      [(ngModel)]="eventData.linkHomepage"
      type="url"
      name="homepage"
      id="homepage"
    />

    <label for="program">Program</label>
    <input
      [(ngModel)]="eventData.linkProgram"
      type="url"
      name="program"
      id="program"
    />
  </fieldset>

  <button [disabled]="eventForm.invalid" type="submit">Speichern</button>
</form>
