<app-two-column-layout class="c-event-overview">
  <div column-one>
    <i>Übersicht</i>
    <h2>Events</h2>

    <app-calendar [calendarEvents]="screeningEvents$ | async"></app-calendar>

    <ng-container *ngFor="let screeningEvent of screeningEvents$ | async">
      <div class="event">
        <p class="prefix-date">
          {{ screeningEvent.start | date }} - {{ screeningEvent.end | date }}
        </p>
        <a [routerLink]="['/', 'event', screeningEvent.id]">
          <h3>{{ screeningEvent.type }} | {{ screeningEvent.title }}</h3>
        </a>
        <app-projection-list
          [projections]="screeningEvent.projections || []"
          [showTitle]="false"
        ></app-projection-list>
        <p>{{ screeningEvent.text }}</p>
        <p>
          <a href="{{ screeningEvent.linkHomepage }}">{{
            screeningEvent.linkHomepage
          }}</a>
        </p>
      </div>
    </ng-container>
  </div>

  <app-cinema-map
    column-two
    *ngrxLet="cinemas$ as cinemas"
    [cinemas]="cinemas"
  ></app-cinema-map>
</app-two-column-layout>
