<nav>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="event">Events</a> |
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="cinema">Kinos</a> |
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="report">Erfahrungsberichte</a> |
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="projection">Projektionen</a>
    </li>
  </ul>
</nav>
<nav>
  <ul>
    <li
      *ngIf="auth.isAuthenticated"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="admin/event">Event+</a> |
    </li>
    <li
      *ngIf="auth.isAuthenticated"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="admin/cinema">Kino+</a> |
    </li>
    <li
      *ngIf="auth.isAuthenticated"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="admin/report">Bericht+</a> |
    </li>
    <li
      *ngIf="auth.isAuthenticated"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="admin/auditorium">Kinosaal+</a> |
    </li>
    <li
      *ngIf="auth.isAuthenticated"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="admin/projection">Projektion+</a> |
    </li>
    <li>
      <button
        *ngIf="!auth.isAuthenticated"
        class="small"
        (click)="auth.login()"
      >
        Login
      </button>
      <button
        *ngIf="auth.isAuthenticated"
        class="small"
        (click)="auth.logout()"
      >
        Logout
      </button>
    </li>
  </ul>
</nav>
