<app-two-column-layout class="c-cinema-overview">
  <div column-one>
    <i>Übersicht</i>
    <h2>Kinos</h2>

    <app-loading></app-loading>

    <div
      *ngFor="let cinema of cinemas$ | async"
      class="c-cinema-overview__cinema"
    >
      <a [routerLink]="['/', 'cinema', cinema.id]"
        ><h3>{{ cinema.title }}</h3></a
      >
      <p>{{ cinema.street }}</p>
      <p>{{ cinema.postcode }} {{ cinema.city }}</p>
    </div>

    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </div>

  <app-cinema-map column-two [geoArray]="cinemas$ | async"></app-cinema-map>
</app-two-column-layout>
