@import '/src/mixins.scss';

.c-event {
  @include container-container;
}

.content-container {
  @include content-container;
}

.map-container {
  @include map-container;
}

.movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.movie-poster {
  height: 200px;
}
