
<div class="c-event">
  <div class="content-container">

    <i>Event</i>

    <h2>{{ event.title }} | {{ event.type }}</h2>
    <p>{{ event.start | date }} - {{ event.end | date }}</p>
    <p>{{ event.text}}</p>
    <p>Homepage: <a href="{{ event.linkHomepage }}">{{ event.linkHomepage }}</a></p>
    <p>Programm: <a href="{{ event.linkProgram }}">{{ event.linkProgram }}</a></p>

    <h3>Kontakt:</h3>
    <p>
      {{ event.street }}<br>
      {{ event.postcode }} {{ event.city }}
    </p>

    <p><strong>Email: </strong><a href="mailto://{{ event.mail }}">{{ event.mail }}</a></p>
    <p><strong>Telefon: </strong><a href="tel://{{ event.phone }}">{{ event.phone }}</a></p>

    <app-projection-list [projections]="event.projections || []"></app-projection-list>

    <h3>Filme:</h3>
    <div *ngrxLet="someMovies$ as someMovies; error as error" class="movies-list">
      <div *ngFor="let movie of someMovies?.results">
        <span *ngIf="movie.poster_path" [tooltip]="movie.title + ' (' + movie.release_date  + ')'">
          <img class="movie-poster"  src="https://www.themoviedb.org/t/p/w1280/{{ movie.poster_path }}" alt="Poster von {{ movie.title }}">
        </span>
      </div>
    </div>

    <app-cinema-list [cinemas]="cinemas"></app-cinema-list>
    <app-report-list [reports]="event.reports || []"></app-report-list>
  </div>

  <div id="ol-map-event-details" class="map-container"></div>

</div>
