<app-two-column-layout class="c-cinema-overview">
  <div column-one *ngrxLet="cinemas$ as cinemas">
    <i>Übersicht</i>
    <h2>Kinos</h2>

    <div *ngFor="let cinema of cinemas" class="c-cinema-overview__cinema">
      <a [routerLink]="['/', 'cinema', cinema.id]"
        ><h3>{{ cinema.title }}</h3></a
      >
      <p>{{ cinema.street }}</p>
      <p>{{ cinema.postcode }} {{ cinema.city }}</p>
    </div>
  </div>

  <app-cinema-map
    column-two
    *ngrxLet="cinemas$ as cinemas"
    [cinemas]="cinemas"
  ></app-cinema-map>
</app-two-column-layout>
