<form [formGroup]="reportForm" (ngSubmit)="submitForm()">
  <fieldset>
    <legend>Main</legend>
    <label for="title">Titel</label>
    <input
      formControlName="title"
      required
      type="text"
      name="title"
      id="eventtitle"
    />

    <label for="txt">Beschreibung</label>
    <textarea
      formControlName="text"
      rows="5"
      type="text"
      name="text"
      id="txt"
    ></textarea>
  </fieldset>
  <fieldset>
    <legend>Datum</legend>
    <label for="lang">Veröffentlichung</label>
    <input formControlName="lang" type="date" name="lang" id="lang" />
  </fieldset>

  <fieldset>
    <legend>Bilder</legend>

    <label for="uplaod">Upload</label>
    <input formControlName="street" type="text" name="street" id="street" />
  </fieldset>

  <button [disabled]="reportForm.invalid" type="submit">Speichern</button>
</form>
