<form [formGroup]="reportForm" (ngSubmit)="submitForm()">
  <fieldset>
    <legend>Main</legend>
    <label for="title">Titel</label>
    <input formControlName="title" type="text" name="title" id="eventtitle" />

    <label for="txt">Beschreibung</label>
    <textarea
      formControlName="text"
      rows="5"
      type="text"
      name="text"
      id="txt"
    ></textarea>
  </fieldset>
  <fieldset>
    <legend>Datum</legend>
    <label for="date">Veröffentlichung</label>
    <input formControlName="date" type="date" name="date" id="date" />
  </fieldset>

  <fieldset>
    <legend>Bilder</legend>

    <label for="uplaod">Upload</label>
    <input formControlName="images" type="text" name="images" id="images" />
  </fieldset>

  <button [disabled]="reportForm.invalid" type="submit">Speichern</button>
</form>
