@mixin container-container {
  display: flex;
  height: 100%;
}

@mixin content-container {
  padding: 1em;
  width: 40em;
  background-color: var(--sidebar-color);
  overflow: scroll;
}

@mixin map-container {
  flex-grow: 1;
  max-height: 900px;
}
