<app-two-column-layout class="c-event-overview">
  <div column-one>
    <i>Übersicht</i>
    <h2>Events</h2>

    <ng-container
      *ngIf="screeningEvents$ | ngrxPush as screeningEvents; else loading"
    >
      <app-calendar [calendarEvents]="screeningEvents"></app-calendar>

      <ng-container *ngFor="let screeningEvent of screeningEvents">
        <div class="event">
          <p class="prefix-date">
            {{ screeningEvent.start | date }} - {{ screeningEvent.end | date }}
          </p>
          <a [routerLink]="['/admin/editevent', screeningEvent.id]"
            >Event bearbeiten</a
          >
          <a [routerLink]="['/', 'event', screeningEvent.id]">
            <h3>{{ screeningEvent.type }} | {{ screeningEvent.title }}</h3>
          </a>
          <app-projection-list
            [projections]="screeningEvent.projections || []"
            [showTitle]="false"
          ></app-projection-list>
          <p>{{ screeningEvent.text }}</p>
          <p>
            <a href="{{ screeningEvent.linkHomepage }}">{{
              screeningEvent.linkHomepage
            }}</a>
          </p>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </div>

  <app-cinema-map column-two [geoArray]="cinemas$ | ngrxPush"></app-cinema-map>
</app-two-column-layout>
