<app-two-column-layout class="c-cinema-details">
  <div column-one>
    <div *ngIf="cinema$ | async as cinema">
      <i>Kino</i>

      <h2>{{ cinema.title }}</h2>
      <img src="/assets/images/{{ cinema.images[0] }}" width="60%" alt="" />
      <p>{{ cinema.text }}</p>

      <app-projection-list [projections]="projections"></app-projection-list>
      <app-auditorium-list
        [auditoriums]="cinema.auditoriums || []"
      ></app-auditorium-list>

      <h3>Adresse:</h3>
      <p>
        {{ cinema.title }}<br />
        {{ cinema.street }}<br />
        {{ cinema.postcode }} {{ cinema.city }}
      </p>

      <h3>Weiterführende Links:</h3>
      <p>
        Homepage:
        <a href="{{ cinema.linkHomepage }}">{{ cinema.linkHomepage }}</a>
      </p>
      <p>
        Programm:
        <a href="{{ cinema.linkProgram }}">{{ cinema.linkProgram }}</a>
      </p>
      <p>
        Öffnungszeiten:
        <a href="{{ cinema.linkOpeningHours }}">{{
          cinema.linkOpeningHours
        }}</a>
      </p>
      <p>
        Email: <a href="mailto://{{ cinema.mail }}">{{ cinema.mail }}</a>
      </p>
      <p>
        Telefon: <a href="tel://{{ cinema.phone }}">{{ cinema.phone }}</a>
      </p>

      <app-report-list [reports]="cinema.reports || []"></app-report-list>
    </div>
  </div>

  <div column-two id="ol-map-cinema-details" class="map-container">
    <div id="popup"></div>
  </div>
</app-two-column-layout>
